---
layout: page
title: Tabs - Dúvidas, sugestões ou reclamações?
permalink: /tabs/
---

<form accept-charset="UTF-8" action="https://getform.io/f/b4504166-4f66-4398-931b-587b0253c357" method="POST"
    enctype="multipart/form-data" target="_blank">
    <div class="form-group">
        <label for="exampleInputEmail1" required="required">Email</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Forneça um email">
    </div>
    <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Seu nome"
            required="required">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Mensagem</label>
        <input type="text" name="message" class="form-control" id="exampleInputMessage" placeholder="Qual a sua mensagem?"
            required="required">
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>